<div style="margin: 2em; width: 50%;">
    <h2 style="margin-top: 2em;">{{ dashboardTitle }}</h2>
    <h4 style="margin-top: 2em;">Welcome back {{username}}</h4>

    <div >
        <button class="btn btn-danger" (click)="logoutClick()" style="margin-top: 4em;">Logout</button>
    </div>
</div>